<h1 class="text-center">\詳細表示/</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 30%">
        <div class="text-center">名前</div>
      </th>
      <th scope="col" style="width: 40%">
        <div class="text-center" >メール</div>
      </th>
      <th scope="col" style="width: 30%">
        <div class="text-center">年齢</div>
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="text-center">
            <h4><%= @user.name %></h4>
          </div>
        </td>
        <td>
          <div class="text-center"><%= @user.email %></div>
        </td>
        <td>
          <div class="text-center"><%= @user.age %></div>
        </td>
      </tr>
    </tbody>
  </table>
